#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contact h2 {
    margin-bottom: 3%;
}

#maps{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 650px;
    gap: 20px;
}

#maps p {
    font-weight: bold;
}